Repository fireice-uk/xmr-stak, pull requests merged in 2018-11, with the labels that each got.

#1994 (doc/compile) Add better CUDA SDK vs Driver information
  doc/compile.md
Labels: documentation

#2045 AMD: speedup cryptonight_heavy division
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
  xmrstak/backend/amd/amd_gpu/opencl/fast_div_heavy.cl
Labels: backend amd, refactoring

#2070 Topic amd refactoring
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
  xmrstak/backend/amd/amd_gpu/opencl/fast_div_heavy.cl
  xmrstak/backend/amd/amd_gpu/opencl/fast_int_math_v2.cl
Labels: backend amd

#2071 change load order for backends
  xmrstak/backend/backendConnector.cpp
Labels: bug

#2077 CUDA: optimize cn-heavy div
  xmrstak/backend/nvidia/nvcc_code/cuda_core.cu
  xmrstak/backend/nvidia/nvcc_code/cuda_fast_div_heavy.hpp
Labels: backend nvidia, refactoring

#2079 CUDA: optimize cn-v8 div
  xmrstak/backend/nvidia/nvcc_code/cuda_fast_int_math_v2.hpp
Labels: backend nvidia, refactoring

#2080 OpenCL: reduce local mem footprint
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
  xmrstak/backend/amd/amd_gpu/opencl/wolf-aes.cl
Labels: backend amd, refactoring

#2078 CUDA: reduce cn-v8 shared mem footprint
  xmrstak/backend/nvidia/nvcc_code/cuda_aes.hpp
  xmrstak/backend/nvidia/nvcc_code/cuda_core.cu
Labels: backend nvidia, refactoring

#2085 OpenCL: optimize cn-heavy div
  xmrstak/backend/amd/amd_gpu/opencl/fast_div_heavy.cl
Labels: backend amd, refactoring

#2081 OpenCL reduce API overhead
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
Labels: backend amd, refactoring

#2084 AMD: use more 32bit operations
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
Labels: backend amd, refactoring

#2087 OpenCL: cnv8 optimization
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
Labels: backend amd, refactoring

#2088 OpenCL: add strided_index 3
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
  xmrstak/backend/amd/autoAdjust.hpp
  xmrstak/backend/amd/config.tpl
  xmrstak/backend/amd/jconf.cpp
Labels: backend amd, enhancement

#2100 OpenCL: thread interleaving
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/gpu.hpp
  xmrstak/backend/amd/autoAdjust.hpp
  xmrstak/backend/amd/config.tpl
  xmrstak/backend/amd/jconf.cpp
  xmrstak/backend/amd/jconf.hpp
  xmrstak/backend/amd/minethd.cpp
Labels: backend amd, enhancement

#2101 update currencies
  xmrstak/jconf.cpp
Labels: currency
