Repository fireice-uk/xmr-stak, pull requests merged in 2018-05, with the labels that each got.

#1512 support stellite v4 fork
  README.md
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
  xmrstak/backend/cpu/crypto/cryptonight_aesni.h
  xmrstak/backend/cpu/minethd.cpp
  xmrstak/backend/cryptonight.hpp
  xmrstak/backend/nvidia/nvcc_code/cuda_core.cu
  xmrstak/jconf.cpp
  xmrstak/misc/executor.cpp
  xmrstak/net/jpsock.cpp
Labels: backend amd, backend cpu, backend nvidia, enhancement

#1537 set correct `iPoolId` for miner_work
  xmrstak/backend/globalStates.hpp
  xmrstak/backend/miner_work.hpp
  xmrstak/backend/pool_data.hpp
Labels: bug

#1555 Fix condition on stellite check
  xmrstak/backend/amd/amd_gpu/gpu.cpp
Labels: backend amd, bug

#1554 fix possible race condition in jpsock
  xmrstak/net/jpsock.cpp
Labels: bug

#1526 fix job consume
  THIRD-PARTY-LICENSES
  xmrstak/backend/amd/minethd.cpp
  xmrstak/backend/amd/minethd.hpp
  xmrstak/backend/backendConnector.cpp
  xmrstak/backend/cpu/minethd.cpp
  xmrstak/backend/cpu/minethd.hpp
  xmrstak/backend/globalStates.cpp
  xmrstak/backend/globalStates.hpp
  xmrstak/backend/nvidia/minethd.cpp
  xmrstak/backend/nvidia/minethd.hpp
  xmrstak/cpputil/LICENSE.txt
  xmrstak/cpputil/read_write_lock.h
Labels: backend amd, backend cpu, backend nvidia

#1569 fix possible deadlock with Volta
  xmrstak/backend/nvidia/nvcc_code/cuda_core.cu
Labels: backend nvidia, bug

#1592 fix duplicated nonce usage
  xmrstak/backend/amd/minethd.cpp
  xmrstak/backend/cpu/minethd.cpp
  xmrstak/backend/globalStates.cpp
  xmrstak/backend/nvidia/minethd.cpp
Labels: backend amd, backend cpu, backend nvidia, bug

#1607 remove definition of `_mm256_set_m128i`
  xmrstak/backend/cpu/crypto/cryptonight_aesni.h
Labels: backend cpu

#1609 fix broken AMD APP SDK download links
  doc/compile_Linux.md
  doc/compile_Windows.md
Labels: bug, documentation
