Repository fireice-uk/xmr-stak, pull requests merged in 2018-03, with the labels that each got.

#1131 OpenCL compile cache
  THIRD-PARTY-LICENSES
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/picosha2/picosha2.hpp
Labels: backend amd, feature

#1121 CUDA: reduce startup time
  xmrstak/backend/nvidia/minethd.cpp
  xmrstak/backend/nvidia/minethd.hpp
Labels: backend nvidia, refactoring

#1156 fix shadowed variable
  xmrstak/backend/amd/amd_gpu/gpu.cpp
Labels: backend amd, bug

#1198 Fix input buffer size cuda
  .gitignore
  xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu
Labels: backend nvidia, bug

#1201 OpenCL precompiled code message
  xmrstak/backend/amd/amd_gpu/gpu.cpp
Labels: backend amd

#1204 move option currency down
  xmrstak/cli/cli-miner.cpp
Labels: documentation

#1205 revert input size change
  xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu
Labels: backend nvidia

#1203 fixAMD benchmark mode
  xmrstak/cli/cli-miner.cpp
Labels: backend amd, bug

#1206 rename `monero2` to `monero7`
  doc/FAQ.md
  xmrstak/jconf.cpp
  xmrstak/pools.tpl
Labels: documentation, refactoring

#1207 Change video guide to a placeholder link
  README.md
Labels: documentation

#1209 remove old release signatures
  README.md
Labels: documentation

#1157 reenable MACOSX travis tests
  .travis.yml
Labels: bug

#1219 fix autoAdjust(non hwloc)
  .travis.yml
  xmrstak/backend/cpu/autoAdjust.hpp
Labels: backend cpu, bug

#1238 documentation: name a worker
  doc/usage.md
Labels: documentation

#1240 fix parentheses warning
  xmrstak/backend/amd/amd_gpu/gpu.cpp
Labels: backend amd, warning

#1239 add cli option `--noAMDCache`
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/cli/cli-miner.cpp
  xmrstak/params.hpp
Labels: backend amd, enhancement

#1262 Add filename to backend errors
  xmrstak/backend/amd/jconf.cpp
  xmrstak/backend/cpu/jconf.cpp
  xmrstak/backend/nvidia/jconf.cpp
Labels: backend amd, backend cpu, backend nvidia, refactoring

#1263 Yet another nicehash workaround -.-
  xmrstak/net/jpsock.cpp
Labels: bug

#1195 instructions for new gcc versions
  doc/compile_Linux.md
Labels: documentation

#1266 fix minor text issues in compile.md
  doc/compile.md
Labels: bug, documentation
