Repository fireice-uk/xmr-stak, pull requests merged in 2018-09, with the labels that each got.

#1821 unify cpu cryptonight implementations
  xmrstak/backend/amd/minethd.cpp
  xmrstak/backend/amd/minethd.hpp
  xmrstak/backend/cpu/crypto/cryptonight_aesni.h
  xmrstak/backend/cpu/minethd.cpp
  xmrstak/backend/cpu/minethd.hpp
  xmrstak/backend/nvidia/minethd.cpp
  xmrstak/backend/nvidia/minethd.hpp
Labels: backend amd, backend cpu, backend nvidia, refactoring

#1840 OpenCL: avoid out of memory access
  xmrstak/backend/amd/amd_gpu/gpu.cpp
Labels: backend amd, bug

#1838 fix nicehash `invalid results`
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
Labels: backend amd, bug

#1836 AMD APP SDK 3.0 url fix
  doc/compile_Linux.md
Labels: bug, documentation

#1834 avoid OpenCL binary missmatch
  xmrstak/backend/amd/amd_gpu/gpu.cpp
Labels: backend amd

#1833 fix that type of `memChunk` is not tested
  xmrstak/backend/amd/jconf.cpp
Labels: backend amd, bug

#1831 Monero POW v2
  CMakeLists.txt
  README.md
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/gpu.hpp
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
  xmrstak/backend/amd/amd_gpu/opencl/fast_int_math_v2.cl
  xmrstak/backend/amd/autoAdjust.hpp
  xmrstak/backend/amd/config.tpl
  xmrstak/backend/amd/jconf.cpp
  xmrstak/backend/amd/jconf.hpp
  xmrstak/backend/amd/minethd.cpp
  xmrstak/backend/cpu/autoAdjust.hpp
  xmrstak/backend/cpu/autoAdjustHwloc.hpp
  xmrstak/backend/cpu/config.tpl
  xmrstak/backend/cpu/crypto/asm/cryptonight_v8_main_loop.S
  xmrstak/backend/cpu/crypto/asm/cryptonight_v8_main_loop.asm
  xmrstak/backend/cpu/crypto/asm/cryptonight_v8_main_loop_ivybridge_linux.inc
  xmrstak/backend/cpu/crypto/asm/cryptonight_v8_main_loop_ivybridge_win64.inc
  xmrstak/backend/cpu/crypto/asm/cryptonight_v8_main_loop_ryzen_linux.inc
  xmrstak/backend/cpu/crypto/asm/cryptonight_v8_main_loop_ryzen_win64.inc
  xmrstak/backend/cpu/crypto/cryptonight_aesni.h
  xmrstak/backend/cpu/jconf.cpp
  xmrstak/backend/cpu/jconf.hpp
  xmrstak/backend/cpu/minethd.cpp
  xmrstak/backend/cpu/minethd.hpp
  xmrstak/backend/cryptonight.hpp
  xmrstak/backend/nvidia/nvcc_code/cuda_core.cu
  xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu
  xmrstak/backend/nvidia/nvcc_code/cuda_fast_int_math_v2.hpp
  xmrstak/jconf.cpp
  xmrstak/misc/executor.cpp
  xmrstak/net/jpsock.cpp
  xmrstak/pools.tpl
Labels: backend amd, backend cpu, backend nvidia, feature

#1839 configEditor: add version tagging, line filtering per-platform
  xmrstak/backend/amd/config.tpl
  xmrstak/backend/cpu/config.tpl
  xmrstak/backend/nvidia/config.tpl
  xmrstak/config.tpl
  xmrstak/misc/configEditor.hpp
  xmrstak/pools.tpl
Labels: documentation

#1152 Correct api.json information
  xmrstak/misc/executor.cpp
Labels: bug

#1845 telemetry: Add mutex to avoid push during recalc and other races
  xmrstak/misc/telemetry.cpp
  xmrstak/misc/telemetry.hpp
Labels: WIP, bug
