Repository fireice-uk/xmr-stak, pull requests merged in 2019-10, with the labels that each got.

#2519 AMD: optimize unroll for rx5700
  xmrstak/backend/amd/autoAdjust.hpp
Labels: backend amd, enhancement

#2530 fix locking to secure affinity update
  xmrstak/backend/amd/minethd.cpp
  xmrstak/backend/cpu/minethd.cpp
  xmrstak/backend/nvidia/minethd.cpp
  xmrstak/backend/nvidia/minethd.hpp
Labels: backend amd, backend cpu, backend nvidia, bug

#2508 Update compile_Windows.md
  doc/compile/compile_Windows.md
Labels: documentation
