Repository fireice-uk/xmr-stak, pull requests merged in 2019-02, with the labels that each got.

#2193 CUDA: optimze cn_gpu auto suggestion
  xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu
Labels: backend nvidia, enhancement

#2194 OpenCL: fix work size message
  xmrstak/backend/amd/amd_gpu/gpu.cpp
Labels: backend amd, bug

#2197 OpenCL: fix Blake hashing
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
Labels: backend amd, bug

#2198 coin cleanup
  README.md
  xmrstak/jconf.cpp
Labels: currency

#2199 update documentation
  doc/compile_Linux.md
  doc/compile_Windows.md
Labels: documentation

#2205 CUDA. fix static in global kernel
  xmrstak/backend/nvidia/nvcc_code/cuda_cryptonight_gpu.hpp
Labels: backend nvidia, bug

#2206 fix missing algorithm name
  xmrstak/backend/cryptonight.hpp
  xmrstak/net/jpsock.cpp
Labels: bug

#2207 OpencL: fix cn_gpu
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight_gpu.cl
Labels: backend amd, bug

#2212 OpenCL: fix groestl
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
Labels: backend amd, bug

#2210 OpenCL: fix invalid work group size
  xmrstak/backend/amd/amd_gpu/gpu.cpp
Labels: backend amd, bug

#2211 OpenCl: use user defined unroll in cn_gpu
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight_gpu.cl
  xmrstak/backend/amd/autoAdjust.hpp
Labels: backend amd, enhancement, refactoring

#2213 cn_gpu: disable auto suggestion for CPU
  xmrstak/backend/cpu/autoAdjust.hpp
  xmrstak/backend/cpu/autoAdjustHwloc.hpp
Labels: backend cpu, refactoring

#2209 refactor POW definition
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/gpu.hpp
  xmrstak/backend/amd/autoAdjust.hpp
  xmrstak/backend/amd/minethd.cpp
  xmrstak/backend/amd/minethd.hpp
  xmrstak/backend/cpu/autoAdjust.hpp
  xmrstak/backend/cpu/autoAdjustHwloc.hpp
  xmrstak/backend/cpu/crypto/cn_gpu.hpp
  xmrstak/backend/cpu/crypto/cn_gpu_avx.cpp
  xmrstak/backend/cpu/crypto/cn_gpu_ssse3.cpp
  xmrstak/backend/cpu/crypto/cryptonight_aesni.h
  xmrstak/backend/cpu/crypto/cryptonight_common.cpp
  xmrstak/backend/cpu/minethd.cpp
  xmrstak/backend/cpu/minethd.hpp
  xmrstak/backend/cryptonight.hpp
  xmrstak/backend/nvidia/minethd.cpp
  xmrstak/backend/nvidia/minethd.hpp
  xmrstak/backend/nvidia/nvcc_code/cryptonight.hpp
  xmrstak/backend/nvidia/nvcc_code/cuda_core.cu
  xmrstak/backend/nvidia/nvcc_code/cuda_cryptonight_gpu.hpp
  xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu
  xmrstak/cli/cli-miner.cpp
  xmrstak/jconf.cpp
  xmrstak/misc/coinDescription.hpp
  xmrstak/misc/executor.cpp
  xmrstak/net/jpsock.cpp
  xmrstak/net/jpsock.hpp
  xmrstak/net/msgstruct.hpp
Labels: refactoring

#2219 fix groestl, skein and blake
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
Labels: backend amd, bug

#2221 OpenCL: optimize cn_gpu
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight_gpu.cl
Labels: backend amd, refactoring

#2215 add cryptonight_v8_half
  README.md
  xmrstak/backend/cryptonight.hpp
  xmrstak/jconf.cpp
Labels: currency

#2217 add Zelerius coin
  README.md
  xmrstak/backend/cryptonight.hpp
  xmrstak/jconf.cpp
Labels: currency

#2222 better variable nameining
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight_gpu.cl
  xmrstak/backend/nvidia/nvcc_code/cuda_cryptonight_gpu.hpp
Labels: backend amd, backend nvidia

#2223 CUDA/OpenCL: use shared mem object
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight_gpu.cl
  xmrstak/backend/nvidia/nvcc_code/cuda_core.cu
  xmrstak/backend/nvidia/nvcc_code/cuda_cryptonight_gpu.hpp
Labels: backend amd, backend nvidia, refactoring

#2224 CUDA: update cn_gpu auto adjust values
  xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu
Labels: backend nvidia

#2225 OpenCl: optimize cn_gpu
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/gpu.hpp
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight_gpu.cl
Labels: backend amd, refactoring

#2227 update version to 2.8.1
  xmrstak/version.cpp
Labels: documentation

#2226 update algorithm documentation
  README.md
  xmrstak/pools.tpl
Labels: documentation

#2229 OpenCl: fix blockchain driver support
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight_gpu.cl
Labels: backend amd, bug

#2230 OpenCL: fix the fix for the blockchain driver
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight_gpu.cl
Labels: backend amd, bug

#2236 Implement cn-conceal
  README.md
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight_gpu.cl
  xmrstak/backend/cpu/crypto/cryptonight_aesni.h
  xmrstak/backend/cpu/minethd.cpp
  xmrstak/backend/cryptonight.hpp
  xmrstak/backend/nvidia/nvcc_code/cuda_core.cu
  xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu
  xmrstak/jconf.cpp
Labels: currency

#2234 Please fix Zelerius iterations
  xmrstak/backend/cryptonight.hpp
Labels: bug, currency

#2239 CMakeLists.txt: Adjust OpenCL probing to find OCL SDK Light
  CMakeLists.txt
Labels: enhancement

#2241 OpenCL: fix Vega invalid shares (windows)
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
Labels: backend amd, bug

#2242 increase version to 2.8.3
  xmrstak/version.cpp
Labels: documentation

#2245 set cn_gpu for Ryo
  xmrstak/jconf.cpp
Labels: currency
