Repository fireice-uk/xmr-stak, pull requests merged in 2019-01, with the labels that each got.

#2152 refactor POW selection algorithm
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/gpu.hpp
  xmrstak/backend/amd/autoAdjust.hpp
  xmrstak/backend/cpu/autoAdjust.hpp
  xmrstak/backend/cpu/autoAdjustHwloc.hpp
  xmrstak/backend/cpu/crypto/cryptonight_common.cpp
  xmrstak/backend/cpu/minethd.cpp
  xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu
  xmrstak/misc/coinDescription.hpp
Labels: backend amd, backend cpu, backend nvidia, refactoring

#2186 Implement CN-GPU Proof-of-Work Algo
  CMakeLists.txt
  xmrstak/backend/amd/amd_gpu/gpu.cpp
  xmrstak/backend/amd/amd_gpu/gpu.hpp
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight.cl
  xmrstak/backend/amd/amd_gpu/opencl/cryptonight_gpu.cl
  xmrstak/backend/amd/amd_gpu/opencl/fast_int_math_v2.cl
  xmrstak/backend/amd/autoAdjust.hpp
  xmrstak/backend/cpu/crypto/cn_gpu.hpp
  xmrstak/backend/cpu/crypto/cn_gpu_avx.cpp
  xmrstak/backend/cpu/crypto/cn_gpu_ssse3.cpp
  xmrstak/backend/cpu/crypto/cryptonight_aesni.h
  xmrstak/backend/cpu/minethd.cpp
  xmrstak/backend/cryptonight.hpp
  xmrstak/backend/nvidia/nvcc_code/cuda_core.cu
  xmrstak/backend/nvidia/nvcc_code/cuda_cryptonight_gpu.hpp
  xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu
  xmrstak/backend/nvidia/nvcc_code/cuda_keccak.hpp
  xmrstak/jconf.cpp
  xmrstak/misc/executor.cpp
Labels: currency

#2187 fix cuda 10
  xmrstak/backend/nvidia/nvcc_code/cuda_cryptonight_gpu.hpp
Labels: backend nvidia, bug
